[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
g2o-python = "*"
opencv-python = "*"
pyopengl = "*"
pygame = "*"
mypy = "*"
icecream = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3"
